/* import font-family*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

#navbarNav.navbar.collapse.navbar-collapse {
    padding-top: 0px;
    justify-content: center;
}
nav.navbar {
    padding: 0px;
    justify-content: center;
}

.navbar {
    text-align: center;
    margin-bottom: 0px;
}

#nav-tabContent {
    display: flex;
}

button.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Removing default CSS and Set New parameters for the body*/
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    line-height: 2.5em;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('../images/tic-tac-toe.png');
}

.navbar-section {
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
}
.our-content {
    max-width: 900px;
    margin: auto;
    margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.intro {
    margin-top: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn-resume {
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#about_me {
  text-align: center;
  justify-content: center;
}
.active {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-left: Opx;
    overflow: hidden;
    background-color: #333;
    width: auto;
    justify-content: center;
    align-items: center;
}

div.card-body {
  height: 400px;
}

a.card-link {
  text-align: right;
}

li {
    float: left;
    font-weight: bolder;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: yellowgreen;
    color: whitesmoke;
    text-decoration: none;
}

h1 {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: left;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: green;
    color: white;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    color: whitesmoke;
}

button.btn.btn-outline-success.my-2.my-sm-0:hover {
    background-color: green;
}

button.navbar-toggler {
    background-color: yellowgreen;
}

button.navbar-toggler:hover {
    border: 20px green;
}

.call-to-action {
  text-align: left;
  justify-content: center;
}
#contact-me {
  text-align: center;
}
/* ********************** MEDIA QUERIES *********************** */
/* @media screen and (max-width: 900px) {
    .infos h5, .typed {
      font-size: 0.9em;
    }
    #languages {
      margin-left: 1%;
    }
    #formation {
      margin-right: 1%;
    }
    .network {
      font-size: 2em;
      padding: 10x 20px; 
    }
  }
  @media screen and (max-width: 770px) {
    .navbar {
      display: none !important;
    }
    .fixed-top {
      position: unset !important;
    }
    h1, h2 {
      font-size: 2em;
    }
    #languages {
      width: 80%;
      margin-left: 10%;
    }
    #formation {
      margin: 210px 0 0 10%;
      width: 80%;
      float: none;
      display: block;
    }
    .counter-value {
      font-size: 1em;
    }
    .data-span {
      font-size: .8em;
    }
    #parcours {
      margin-top: -50px
    }
    .legende p {
      display: none;
    }
    #other-skills h3, #hobbies h3, footer h3 {
      font-size: 2em;
    }
    .cloud {
      font-size: 1em;
    }
    .flip-box-back p {
      padding: 10px 0px;
    }
    .network {
      font-size: 1.4em;
      padding: 14px 20px;
    }
    input, textarea {
      width: 300px;
    }
  }
  @media screen and (max-width: 520px) {
    h1 {
      padding-top: 20px;
    }
    h3 {
      font-size: 1em !important;
    }
    #fcc, #occ {
      padding: 50px 0 0 0;
    }
    .projet:nth-child(2), .projet:nth-child(3) {
      margin-left: 0;
    }
    .legende {
      opacity: 1;
    }
    #other-skills {
      display: none;
    }
    #hobbies {
      margin-top: -30px;
    }
    .flip-box-back p {
      font-size: 0.7em;
    }
  }
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: center;
            width: 100%;
            text-align: center;
        }
}
 */